<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.org.createosxinstaller.pkg</string>
	<key>Output</key>
	<string>/Users/cgerke/Desktop/createosxinstaller.pkg</string>
	<key>Packages</key>
	<array>
		<string>/Users/cgerke/Desktop/CreateLionUser.pkg</string>
		<string>/Users/cgerke/Desktop/Registration.pkg</string>
		<string>/Users/cgerke/Desktop/SetupAssistant.pkg</string>
		<string>/Users/cgerke/Desktop/AutoLogin.pkg</string>
	</array>
	<key>Source</key>
	<string>/Users/cgerke/Desktop/InstallESD1092.dmg</string>
</dict>
</plist>
